[submodule "mn-samples-itu"]
	path = mn-samples-itu
	url = https://github.com/metanorma/mn-samples-itu
	branch = gh-pages
[submodule "mn-samples-iso"]
	path = mn-samples-iso
	url = https://github.com/metanorma/mn-samples-iso
	branch = gh-pages
[submodule "mn-samples-iec"]
	path = mn-samples-iec
	url = https://github.com/metanorma/mn-samples-iec
	branch = gh-pages
[submodule "mn-samples-un"]
	path = mn-samples-un
	url = https://github.com/metanorma/mn-samples-un
	branch = gh-pages
