name: debian

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    container: debian
    steps:
      # cabextract for fonts, gettext-base for envsubst, libxml2-utils for xmllint
      - name: Setup prerequisites
        run: |
          apt-get update
          apt-get -y install gettext-base cabextract wget p7zip-full libxml2-utils curl \
            software-properties-common gcc ruby ruby-dev libffi-dev libsass-dev make \
            libxml2-dev libxslt1-dev zlib1g-dev zlib1g pkg-config g++ default-jre gnupg \
            git

      - name: Install fonts
        run: |
          apt-get -y install fonts-freefont-ttf

          # We need to do this to install mscorefonts
          apt-add-repository -y contrib
          apt-get update
          echo ttf-mscorefonts-installer msttcorefonts/accepted-mscorefonts-eula select true | debconf-set-selections
          apt-get install -y ttf-mscorefonts-installer

      - name: Setup Cambria fonts
        run: |
          curl -Ls https://raw.githubusercontent.com/metanorma/vista-fonts-installer/master/vista-fonts-installer.sh | bash

      - name: Setup CJK fonts
        run: |
          mkdir -p /usr/share/fonts/truetype/adobe
          PREVPWD=$(pwd)
          cd $(mktemp -d)
          curl -Ls https://github.com/Pal3love/Source-Han-TrueType/raw/master/SourceHanSans.7z -o hansans.7z
          7za x hansans.7z
          mv *.ttc /usr/share/fonts/truetype/adobe
          cd ${PREVPWD}

      - uses: actions/checkout@master

      - name: Update gems
        run: |
          gem install bundler -v 2.0.2
          bundle config build.nokogiri --use-system-libraries
          bundle install --jobs 4 --retry 3

      - name: Update submodules
        run: |
          make update-init update-modules

      - name: Compile output
        env:
          MN_PDF_FONT_PATH: /usr/share/fonts/
        run: |
          make all published
