name: macos

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Use Ruby
        uses: actions/setup-ruby@v1
        with:
          ruby-version: 2.6
          architecture: 'x64'
      - name: Update gems
        run: |
          gem install bundler -v 2.0.2
          bundle update --bundler
          bundle install --jobs 4 --retry 3
      - name: Install yq
        run: |
          brew install yq

      # cabextract for fonts, gettext-base for envsubst
      - name: Setup prerequisites
        run: |
          # Install `envsubst`
          brew install gettext
          brew link --force gettext

          # Install cabextract
          brew install cabextract

          # Install Fontforge
          brew install fontforge

          # Install p7zip
          brew install p7zip

          # Install yq
          brew install yq

      - uses: actions/checkout@master

      - name: Install Microsoft Vista fonts
        run: |
          curl -Ls https://gist.githubusercontent.com/ronaldtse/b53c05030a1eee94087aa9f80592b88b/raw/macos-vista-fonts-installer.sh | bash

          export MN_PDF_FONT_PATH=${GITHUB_WORKSPACE}/fonts
          mkdir -p ${MN_PDF_FONT_PATH}/truetype/vista

          ls -alR ~/Library/Fonts/Microsoft

          ln -s ~/Library/Fonts/Microsoft/Calibri\ Bold\ Italic.ttf ${MN_PDF_FONT_PATH}/truetype/vista/calibriz.ttf
          ln -s ~/Library/Fonts/Microsoft/Calibri\ Bold.ttf         ${MN_PDF_FONT_PATH}/truetype/vista/calibrib.ttf
          ln -s ~/Library/Fonts/Microsoft/Calibri\ Italic.ttf       ${MN_PDF_FONT_PATH}/truetype/vista/calibrii.ttf
          ln -s ~/Library/Fonts/Microsoft/Calibri.ttf               ${MN_PDF_FONT_PATH}/truetype/vista/calibri.ttf
          ln -s ~/Library/Fonts/Microsoft/Cambria\ Bold\ Italic.ttf ${MN_PDF_FONT_PATH}/truetype/vista/cambriaz.ttf
          ln -s ~/Library/Fonts/Microsoft/Cambria\ Bold.ttf         ${MN_PDF_FONT_PATH}/truetype/vista/cambriab.ttf
          ln -s ~/Library/Fonts/Microsoft/Cambria\ Italic.ttf       ${MN_PDF_FONT_PATH}/truetype/vista/cambriai.ttf
          ln -s ~/Library/Fonts/Microsoft/Cambria.ttc               ${MN_PDF_FONT_PATH}/truetype/vista/cambria.ttc
          ln -s ~/Library/Fonts/Microsoft/Candara\ Bold\ Italic.ttf ${MN_PDF_FONT_PATH}/truetype/vista/candaraz.ttf
          ln -s ~/Library/Fonts/Microsoft/Candara\ Bold.ttf         ${MN_PDF_FONT_PATH}/truetype/vista/candarab.ttf
          ln -s ~/Library/Fonts/Microsoft/Candara\ Italic.ttf       ${MN_PDF_FONT_PATH}/truetype/vista/candarai.ttf
          ln -s ~/Library/Fonts/Microsoft/Candara.ttf               ${MN_PDF_FONT_PATH}/truetype/vista/candara.ttf
          ln -s ~/Library/Fonts/Microsoft/Consola\ Bold\ Italic.ttf ${MN_PDF_FONT_PATH}/truetype/vista/consolaz.ttf
          ln -s ~/Library/Fonts/Microsoft/Consola\ Bold.ttf         ${MN_PDF_FONT_PATH}/truetype/vista/consolab.ttf
          ln -s ~/Library/Fonts/Microsoft/Consola\ Italic.ttf       ${MN_PDF_FONT_PATH}/truetype/vista/consolai.ttf
          ln -s ~/Library/Fonts/Microsoft/Consola.ttf               ${MN_PDF_FONT_PATH}/truetype/vista/consola.ttf
          ln -s ~/Library/Fonts/Microsoft/Constan\ Bold\ Italic.ttf ${MN_PDF_FONT_PATH}/truetype/vista/constanz.ttf
          ln -s ~/Library/Fonts/Microsoft/Constan\ Bold.ttf         ${MN_PDF_FONT_PATH}/truetype/vista/constanb.ttf
          ln -s ~/Library/Fonts/Microsoft/Constan\ Italic.ttf       ${MN_PDF_FONT_PATH}/truetype/vista/constani.ttf
          ln -s ~/Library/Fonts/Microsoft/Constan.ttf               ${MN_PDF_FONT_PATH}/truetype/vista/constan.ttf
          ln -s ~/Library/Fonts/Microsoft/Corbel\ Bold\ Italic.ttf  ${MN_PDF_FONT_PATH}/truetype/vista/corbelz.ttf
          ln -s ~/Library/Fonts/Microsoft/Corbel\ Bold.ttf          ${MN_PDF_FONT_PATH}/truetype/vista/corbelb.ttf
          ln -s ~/Library/Fonts/Microsoft/Corbel\ Italic.ttf        ${MN_PDF_FONT_PATH}/truetype/vista/corbeli.ttf
          ln -s ~/Library/Fonts/Microsoft/Corbel.ttf                ${MN_PDF_FONT_PATH}/truetype/vista/corbel.ttf
          ln -s ~/Library/Fonts/Microsoft/Meiryo\ Bold.ttc          ${MN_PDF_FONT_PATH}/truetype/vista/meiryob.ttc
          ln -s ~/Library/Fonts/Microsoft/Meiryo.ttc                ${MN_PDF_FONT_PATH}/truetype/vista/meiryo.ttc


      - name: Install FreeSerif
        run: |
          export MN_PDF_FONT_PATH=${GITHUB_WORKSPACE}/fonts
          mkdir -p ${MN_PDF_FONT_PATH}/truetype/freefont/

          pushd $(mktemp -d)
          curl -Ls https://www.fontspace.com/download/13277/e8f09161b1174b2abe9bd65fb8223c48/gnu-freefont_freeserif.zip -o freefont.zip
          unzip freefont.zip
          mv *.ttf ${MN_PDF_FONT_PATH}/truetype/freefont/
          popd

      - name: Install Nanum Gothic
        run: |
          export MN_PDF_FONT_PATH=${GITHUB_WORKSPACE}/fonts
          mkdir -p ${MN_PDF_FONT_PATH}/truetype/nanum/

          pushd $(mktemp -d)
          curl -Ls https://fonts.google.com/download?family=Nanum%20Gothic -o nanum.zip
          unzip nanum.zip
          mv NanumGothic{-,}Bold.ttf
          mv NanumGothic{-,}ExtraBold.ttf
          mv NanumGothic-Regular.ttf NanumGothic.ttf
          mv *.ttf ${MN_PDF_FONT_PATH}/truetype/nanum/
          popd

      - name: Install Droid Sans Fallback
        run: |
          export MN_PDF_FONT_PATH=${GITHUB_WORKSPACE}/fonts
          mkdir -p ${MN_PDF_FONT_PATH}/truetype/droid/

          pushd ${MN_PDF_FONT_PATH}/truetype/droid/
          wget https://github.com/aosp-mirror/platform_frameworks_base/raw/master/data/fonts/DroidSansFallbackFull.ttf
          popd

      - name: Install Chinese fonts
        run: |
          export MN_PDF_FONT_PATH=${GITHUB_WORKSPACE}/fonts

          pushd $(mktemp -d)
          curl -Ls https://github.com/Pal3love/Source-Han-TrueType/raw/master/SourceHanSans.7z -o hansans.7z
          7za x hansans.7z
          mv *.ttc ${MN_PDF_FONT_PATH}/
          popd

      - name: Install Microsoft Core Fonts
        run: |
          export MN_PDF_FONT_PATH=${GITHUB_WORKSPACE}/fonts
          mkdir -p ${MN_PDF_FONT_PATH}/truetype/msttcorefonts
          ls -alR /System/Library/Fonts
          ln -s /System/Library/Fonts/Supplemental/Arial.ttf ${MN_PDF_FONT_PATH}/truetype/msttcorefonts/arial.ttf
          ln -s /System/Library/Fonts/Supplemental/Arial\ Bold.ttf ${MN_PDF_FONT_PATH}/truetype/msttcorefonts/arialbd.ttf
          ln -s /System/Library/Fonts/Supplemental/Arial\ Italic.ttf ${MN_PDF_FONT_PATH}/truetype/msttcorefonts/ariali.ttf
          ln -s /System/Library/Fonts/Supplemental/Arial\ Bold\ Italic.ttf ${MN_PDF_FONT_PATH}/truetype/msttcorefonts/arialbi.ttf
          ln -s /System/Library/Fonts/Supplemental/Times\ New\ Roman.ttf ${MN_PDF_FONT_PATH}/truetype/msttcorefonts/times.ttf
          ln -s /System/Library/Fonts/Supplemental/Times\ New\ Roman\ Bold.ttf ${MN_PDF_FONT_PATH}/truetype/msttcorefonts/timesbd.ttf
          ln -s /System/Library/Fonts/Supplemental/Times\ New\ Roman\ Italic.ttf ${MN_PDF_FONT_PATH}/truetype/msttcorefonts/timesi.ttf
          ln -s /System/Library/Fonts/Supplemental/Times\ New\ Roman\ Bold\ Italic.ttf ${MN_PDF_FONT_PATH}/truetype/msttcorefonts/timesbi.ttf
          ln -s /System/Library/Fonts/Supplemental/Courier\ New.ttf ${MN_PDF_FONT_PATH}/truetype/msttcorefonts/cour.ttf
          ln -s /System/Library/Fonts/Supplemental/Courier\ New\ Bold.ttf ${MN_PDF_FONT_PATH}/truetype/msttcorefonts/courbd.ttf
          ln -s /System/Library/Fonts/Supplemental/Courier\ New\ Bold\ Italic.ttf ${MN_PDF_FONT_PATH}/truetype/msttcorefonts/courbi.ttf
          ln -s /System/Library/Fonts/Supplemental/Courier\ New\ Italic.ttf ${MN_PDF_FONT_PATH}/truetype/msttcorefonts/couri.ttf
          ls -alR ${MN_PDF_FONT_PATH}

      - name: Update submodules
        run: |
          make update-init update-modules

      - name: Compile output
        run: |
          export MN_PDF_FONT_PATH=${GITHUB_WORKSPACE}/fonts

          ls -alR ${MN_PDF_FONT_PATH}

          make all
          mv documents published

      - uses: actions/upload-artifact@master
        with:
          name: published-macos
          path: published
