name: macos

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Use Ruby
        uses: actions/setup-ruby@v1
        with:
          ruby-version: 2.6
          architecture: 'x64'

      - uses: actions/checkout@master

      - name: Update gems
        run: |
          gem install bundler -v 2.0.2
          bundle install --jobs 4 --retry 3

      # cabextract for fonts, gettext-base for envsubst
      - name: Setup prerequisites
        run: |
          # Install `envsubst`
          brew install gettext
          brew link --force gettext

          # Install cabextract
          brew install cabextract

          # Install p7zip
          brew install p7zip

          # Install yq
          brew install yq

          # Install xalan
          brew install xalan-c
					
      - name: Install Microsoft Vista fonts
        run: |
          export MN_PDF_FONT_PATH=${GITHUB_WORKSPACE}/fonts
          export MS_FONT_PATH=${MN_PDF_FONT_PATH}/truetype/vista
          export RENAME_FONTS=false
          curl -Ls https://raw.githubusercontent.com/metanorma/vista-fonts-installer/master/vista-fonts-installer.sh | bash

      - name: Install Chinese fonts
        run: |
          export MN_PDF_FONT_PATH=${GITHUB_WORKSPACE}/fonts
          mkdir -p ${MN_PDF_FONT_PATH}/truetype/adobe/

          pushd $(mktemp -d)
          curl -Ls https://github.com/Pal3love/Source-Han-TrueType/raw/master/SourceHanSans.7z -o hansans.7z
          7za x hansans.7z
          mv *.ttc ${MN_PDF_FONT_PATH}/truetype/adobe/
          popd

      - name: Install Microsoft Core Fonts
        run: |
          export MN_PDF_FONT_PATH=${GITHUB_WORKSPACE}/fonts
          mkdir -p ${MN_PDF_FONT_PATH}/truetype/msttcorefonts
          ls -alR /System/Library/Fonts
          ln -s /System/Library/Fonts/Supplemental/Arial.ttf ${MN_PDF_FONT_PATH}/truetype/msttcorefonts/arial.ttf
          ln -s /System/Library/Fonts/Supplemental/Arial\ Bold.ttf ${MN_PDF_FONT_PATH}/truetype/msttcorefonts/arialbd.ttf
          ln -s /System/Library/Fonts/Supplemental/Arial\ Italic.ttf ${MN_PDF_FONT_PATH}/truetype/msttcorefonts/ariali.ttf
          ln -s /System/Library/Fonts/Supplemental/Arial\ Bold\ Italic.ttf ${MN_PDF_FONT_PATH}/truetype/msttcorefonts/arialbi.ttf
          ln -s /System/Library/Fonts/Supplemental/Arial\ Black.ttf ${MN_PDF_FONT_PATH}/truetype/msttcorefonts/ariblk.ttf
          ln -s /System/Library/Fonts/Supplemental/Times\ New\ Roman.ttf ${MN_PDF_FONT_PATH}/truetype/msttcorefonts/times.ttf
          ln -s /System/Library/Fonts/Supplemental/Times\ New\ Roman\ Bold.ttf ${MN_PDF_FONT_PATH}/truetype/msttcorefonts/timesbd.ttf
          ln -s /System/Library/Fonts/Supplemental/Times\ New\ Roman\ Italic.ttf ${MN_PDF_FONT_PATH}/truetype/msttcorefonts/timesi.ttf
          ln -s /System/Library/Fonts/Supplemental/Times\ New\ Roman\ Bold\ Italic.ttf ${MN_PDF_FONT_PATH}/truetype/msttcorefonts/timesbi.ttf
          ln -s /System/Library/Fonts/Supplemental/Courier\ New.ttf ${MN_PDF_FONT_PATH}/truetype/msttcorefonts/cour.ttf
          ln -s /System/Library/Fonts/Supplemental/Courier\ New\ Bold.ttf ${MN_PDF_FONT_PATH}/truetype/msttcorefonts/courbd.ttf
          ln -s /System/Library/Fonts/Supplemental/Courier\ New\ Bold\ Italic.ttf ${MN_PDF_FONT_PATH}/truetype/msttcorefonts/courbi.ttf
          ln -s /System/Library/Fonts/Supplemental/Courier\ New\ Italic.ttf ${MN_PDF_FONT_PATH}/truetype/msttcorefonts/couri.ttf
          ls -alR ${MN_PDF_FONT_PATH}
      - name: Update submodules
        run: |
          make update-init update-modules

      - name: Compile output
        run: |
          export MN_PDF_FONT_PATH=${GITHUB_WORKSPACE}/fonts

          ls -alR ${MN_PDF_FONT_PATH}
          alias xalan="xalan-c"
          make all
          mv documents published

      - uses: actions/upload-artifact@master
        with:
          name: published-macos
          path: published
