name: windows

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Setup prerequisites
        run: |
          choco install --no-progress make gnuwin32-coreutils.install curl xsltproc unzip grep
          make --version
          curl --version

      - uses: actions/checkout@master

      - name: Fix soft links
        shell: pwsh
        run: |
          git ls-files -s xslt_src | grep "^12" | cut -f2 | % {
            $linkPath = Resolve-Path -Path $_
            If ((Get-Item $linkPath).length -gt 0kb) {
              Write-Host "Restore symlink: $linkPath"
              $targetFileName = Join-Path -Path $(Split-Path -Path $linkPath -Parent) -ChildPath $(Get-Content $linkPath -Raw)
              Copy-Item $targetFileName -Destination $linkPath
            }
          }



      - name: Update gems
        run: |
          gem install bundler
          bundle config build.nokogiri --use-system-libraries
          bundle install --jobs 4 --retry 3

      - name: Install Fontist fonts
        run: |
          gem install fontist
          fontist update
          fontist manifest-install --confirm-license fonts/manifest.yml
          fontist manifest-locations fonts/manifest.yml > fonts/manifest.paths.yml
          cat fonts/manifest.paths.yml


      - name: Update submodules
        run: |
          make update-init update-modules

      - name: Build
        env:
          GITHUB_USERNAME: ${{ github.actor }}
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          make all published

      - uses: actions/upload-artifact@master
        with:
          name: published-windows
          path: published
