name: windows

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Setup prerequisites
        run: |
          choco install --no-progress make gnuwin32-coreutils.install curl xsltproc unzip grep
          make --version
          curl --version

      - uses: actions/checkout@master

      - name: Fix soft links
        shell: pwsh
#            $targetFileName = Join-Path -Path $(Split-Path -Path $linkPath -Parent) -ChildPath $(Get-Content $linkPath -Raw)
#
#            Write-Host "targetFileName: $(Get-Content $linkPath -First 1)"
#            Copy-Item $targetFileName -Destination $linkPath
        run: |
          git ls-files -s xslt_src | grep "^12" | cut -f2 | % {
            Write-Host "xslt_path= $_"
            $linkPath = Resolve-Path -Path $_
            Write-Host "linkPath= $linkPath"
            Write-Host((Get-Item $linkPath).length)

          }

      - name: Update gems
        run: |
          gem install bundler
          bundle config build.nokogiri --use-system-libraries
          bundle install --jobs 4 --retry 3

      - name: Update submodules
        run: |
          make update-init update-modules

      - name: Build
        env:
          GITHUB_USERNAME: ${{ github.actor }}
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          make all published

      - uses: actions/upload-artifact@master
        with:
          name: published-windows
          path: published
